node_modules/
.env
.env.*
!.env.ejemplo
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
Infraestructura/Terraform/Principal/plan.tfplan
Cobertura/
Resultados/

Infraestructura/Terraform/Principal/Backend.hcl
Infraestructura/Terraform/Principal/*.auto.tfvars.json
Infraestructura/Kubernetes/TrabajadorDocumentosGenerado.yml
Infraestructura/Terraform/Principal/terraform.tfvars
Infraestructura/Terraform/Principal/plan.json
*.bak
node_modules/
